* {
    /* border-width: 1px;
    border-color: green;
    border-style: solid; */
}

/*Fonts*/

@font-face {
    font-family: "Bitum-Light";
    src: url("../fonts/bitum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/bitum.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/bitum.otf") format("opentype"), /* Open Type Font */
      url("../fonts/bitum.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../fonts/bitum.woff") format("woff"), /* Modern Browsers */
      url("../fonts/bitum.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

.jz-c-container {
    /* 
background-color: orange; */
}

/* Navigation */

.jz-c-navigation {
    font-family: "Bitum-Light";
    font-size: 19px;
    padding-top: 0.5rem;
    color: #f7f7f7;
    display: block;
    position: relative;
    background-color: rgb(4, 0, 255);
    ;
}

.jz-c-navigation__name {
    padding-left: 0.5rem;
}

.jz-c-navigation__resume {
    float: right;
    padding-right: 4rem;
}

.jz-c-navigation__email {
    float: right;
    padding-right: 0.5rem;
}

/* Projects */

.jz-c-projects {
    font-family: "Bitum-Light";
    position: relative;
    float: left;
    width: 100%;
    height: 50rem;
    background-color: #f7f7f7;
}

.jz-c-projects__sectionheader {
    padding-left: 0.5rem;
    font-size: 54px;
}


body {
    background-color: #f7f7f7;
}

.hitareacontainer {
    width: 100%;
    background-color: blue;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.hitarea {
    background-color: rgb(4, 0, 255);
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 500px;
}

.hitbox {
    width: 100px;
    height: 100px;
    float: left;
}

/* eyes */
.eye {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #f7f7f7;
    border-radius: 50px;
    left: 25%;
    top: 40%;
    pointer-events: none;
}

.eye+.eye {
    left: 55%;
}

.pupil {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: rgb(4, 0, 255);
    border-radius: 12px;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -12px;
    -webkit-transition: all .5s ease;
}

.eyelid {
    width: 150px;
    height: 100px;
    position: absolute;
    left: 20%;
    top: 25%;
    pointer-events: none;
    background-color: rgb(4, 0, 255);
    -webkit-animation-name: blink;
    -webkit-animation-duration: 4.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 1s;
    -webkit-transition: all .5s ease;

}

.eyelid+.eyelid {
    left: 50%;
}

/* Blinking eyes */
@-webkit-keyframes blink {
    0% {
        top: 25%;
    }

    95% {
        top: 25%;
    }

    100% {
        top: 40%;
    }
}

/* hover events */

/* eye lids */
.hitbox:hover~.eyelid {
    -webkit-transform: rotate(-10deg);
}

.hitbox:hover~.eyelid:nth-of-type(2n+1) {
    -webkit-transform: rotate(10deg);
}

#c-3:hover~.eyelid {
    -webkit-transform: rotate(15deg);
}

#c-3:hover~.eyelid:nth-of-type(2n+1) {
    -webkit-transform: rotate(-15deg);
}

/* pupils */

#a-1:hover~.eye>.pupil {
    -webkit-transform: rotate(60deg) translate(-30px);
}

#a-2:hover~.eye>.pupil {
    -webkit-transform: rotate(80deg) translate(-30px);
}

#a-3:hover~.eye>.pupil {
    -webkit-transform: rotate(90deg) translate(-30px);
}

#a-4:hover~.eye>.pupil {
    -webkit-transform: rotate(100deg) translate(-30px);
}

#a-5:hover~.eye>.pupil {
    -webkit-transform: rotate(120deg) translate(-30px);
}

#b-1:hover~.eye>.pupil {
    -webkit-transform: rotate(50deg) translate(-25px);
}

#b-2:hover~.eye>.pupil {
    -webkit-transform: rotate(70deg) translate(-25px);
}

#b-3:hover~.eye>.pupil {
    -webkit-transform: rotate(100deg) translate(-25px);
}

#b-3:hover~.eye:nth-of-type(2n+1)>.pupil {
    -webkit-transform: rotate(80deg) translate(-25px);
}

#b-4:hover~.eye>.pupil {
    -webkit-transform: rotate(110deg) translate(-25px);
}

#b-5:hover~.eye>.pupil {
    -webkit-transform: rotate(130deg) translate(-25px);
}

#c-1:hover~.eye>.pupil {
    -webkit-transform: rotate(0deg) translate(-25px);
}

#c-2:hover~.eye>.pupil {
    -webkit-transform: rotate(0deg) translate(-10px);
}

#c-3:hover~.eye>.pupil {
    background: red;
    -webkit-transform: rotate(180deg) translate(-25px);
}

#c-3:hover~.eye:nth-of-type(2n+1)>.pupil {
    -webkit-transform: rotate(0deg) translate(-25px);
}

#c-4:hover~.eye>.pupil {
    -webkit-transform: rotate(180deg) translate(-10px);
}

#c-5:hover~.eye>.pupil {
    -webkit-transform: rotate(180deg) translate(-25px);
}

#d-1:hover~.eye>.pupil {
    -webkit-transform: rotate(-40deg) translate(-25px);
}

#d-2:hover~.eye>.pupil {
    -webkit-transform: rotate(-60deg) translate(-25px);
}

#d-3:hover~.eye>.pupil {
    -webkit-transform: rotate(-120deg) translate(-25px);
}

#d-3:hover~.eye:nth-of-type(2n+1)>.pupil {
    -webkit-transform: rotate(-60deg) translate(-25px);
}

#d-4:hover~.eye>.pupil {
    -webkit-transform: rotate(-130deg) translate(-25px);
}

#d-4:hover~.eye:nth-of-type(2n+1)>.pupil {
    -webkit-transform: rotate(-100deg) translate(-25px);
}

#d-5:hover~.eye>.pupil {
    -webkit-transform: rotate(-140deg) translate(-25px);
}

#e-1:hover~.eye>.pupil {
    -webkit-transform: rotate(-40deg) translate(-30px);
}

#e-2:hover~.eye>.pupil {
    -webkit-transform: rotate(-60deg) translate(-30px);
}

#e-3:hover~.eye>.pupil {
    -webkit-transform: rotate(-120deg) translate(-30px);
}

#e-3:hover~.eye:nth-of-type(2n+1)>.pupil {
    -webkit-transform: rotate(-60deg) translate(-30px);
}

#e-4:hover~.eye>.pupil {
    -webkit-transform: rotate(-130deg) translate(-30px);
}

#e-4:hover~.eye:nth-of-type(2n+1)>.pupil {
    -webkit-transform: rotate(-100deg) translate(-30px);
}

#e-5:hover~.eye>.pupil {
    -webkit-transform: rotate(-140deg) translate(-30px);
}

/* Tiny Screens */
@media only screen and (min-device-width: 0px) and (max-device-width: 319px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: rgb(0, 0, 43);
    }
}

/* Small iPhones */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: rgb(255, 0, 43);
    }

    .hitareacontainer {
        width: 100%;
        background-color: blue;
        padding-top: 25rem;
        padding-bottom: 25rem;
    }
}

/* Larger iPhones */
@media only screen and (min-device-width: 481px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        background-color: pink;
    }
}